      .bf-background-ecru
      { background-color: #F8F3F0; }
      .bf-color-ecru
      { color: #F8F3F0 }
      .bf-background-mist
      { background-color: #CBC2FF; }
      .bf-color-mist
      { color: #CBC2FF }
      .bf-background-white
      { background-color: #FFFFFF; }
      .bf-color-white
      { color: #FFFFFF }
      .bf-background-poppy
      { background-color: #FF5252; }
      .bf-color-poppy
      { color: #FF5252 }
      .bf-background-inkwell
      { background-color: #130032; }
      .bf-color-inkwell
      { color: #130032 }
      .bf-background-cobalt
      { background-color: #4C00FF; }
      .bf-color-cobalt
      { color: #4C00FF }
      .bf-background-deep-violet
      { background-color: #26065D; }
      .bf-color-deep-violet
      { color: #26065D }
